<h2>Events</h2>

<div *ngFor="let event of events">
  <h3>
    <a [title]="event.name + ' details'">
    {{ event.name }}
    </a>
  </h3>

  <p *ngIf="event.date">
    {{ event.date }}
  </p>

  <p *ngIf="event.title">
    {{ event.title }}
  </p> 

  <p *ngIf="event.location">
    Location: {{ event.location + ' - ' + event.city + ',' + event.state}}
  </p> 

  <p *ngIf="event.time">
    Time: {{ event.time }}
  </p>   

  <button (click)="share()">
    Share
  </button>
</div>
  <hr>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->